$body-bg-color: #f6704b;
// location-bg, notes-text
$location-bg-color: #620808;
$notes-text-color: #620808;
// music-bg, books-text
$music-bg-color: #a53f3f;
$books-text-color: #a53f3f;
// notes-bg, music-text
$notes-bg-color: #f4ce74;
$music-text-color: #f4ce74;
// books-bg, location-text, tendenes-text
$books-bg-color: #ffe9c1;
$location-text-color: #ffe9c1;
$tendances-text-color: #ffe9c1;
// tendances-bg
$tendances-bg-color: #d5441c;
// font
$main-font: 'JFFlat', sans-serif;