@import '_layout/_normalize';
@import '_fonts';
@import '_variables';
@import '_layout/_layout';

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: $body-bg-color;
    font: 400 18px/1.62 $main-font;
}


/* Layout */

.ba-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
}


/* Typography */

a,
input[type="submit"],
input[type="button"],
button {
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
    display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
    transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}


.ba-accordion{
	max-width: 380px;
	margin: 0 auto;
	padding-top: 35px;
}

.ba-item{
	&__title{
		font-size: 24px;
		line-height: 1;	
		padding: 41px 0 35px 108px;
		&:hover{
			cursor: pointer;
		}
	}

	&__description{
		padding: 8px 5px 8px 15px; 
		margin: 0; 
		box-shadow: inset 0 0 5.1px 0.9px rgba(0, 0, 0, 0.25); 
	}
	
	&--location{
		background-color: $location-bg-color;
		color: $location-text-color;
		h1{
			background: url('../img/Location.png') 5% no-repeat; 
		}
	}
	&--music{
		background-color: $music-bg-color;
		color: $music-text-color;
		h1{
			background: url('../img/Headphones.png') 5% no-repeat; 
		} 
	}
	&--notes{
		background-color: $notes-bg-color;
		color: $notes-text-color;
		h1{
			background: url('../img/Lightbulb.png') 5% no-repeat; 
		} 
	}
	&--books{
		background-color: $books-bg-color;
		color: $books-text-color;
		h1{
			background: url('../img/Bookmarks.png') 5% no-repeat; 
		}
	}
	&--tendances{
		background-color: $tendances-bg-color;
		color: $tendances-text-color;
		h1{
			background: url('../img/Lightning.png') 5% no-repeat; 
		}
	}
}







